.black-card {
  background-color: #000;
  color: #f8f9fa;
  font-size: 25px;
  border-radius: 24px;
  padding: 32px 24px;
  max-width: 320px;
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hover effect */
.black-card:hover {
  background-color: #424242;
  color: #000;
  cursor: pointer;
}


.black-card:hover .learn-more {
  color: #2a7f00 !important;
}

/* Other classes h3 is card-title */
.card-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: #fff;
  transition: color 0.3s ease;
  text-transform: uppercase;
  font-family: "Acumin Pro Semi Bold", Sans-serif;
}

.black-card h4 {
  font-size: 1.2rem;
}

.card-description {
  font-size: 1rem;
  line-height: 1.5;
  color: #ccc;
  margin-bottom: 24px;
  transition: color 0.3s ease;
}

.learn-more {
  font-weight: 700;
  color: #a6ff00;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.learn-more .arrow {
  margin-left: 8px;
  font-size: 1.2rem;
}

.black-box-items {
  font-size: 12px;
  color:  #ccc;
}

.feature-list li {
  font-size: 1.5rem;     /* or use 15px */
  color: #316E62;            /* or any color */
  line-height: 1.6;
}

.feature-list i {
  color: #198754; /* teal accent for icons */
  font-size: 1.1rem;       /* tweak icon size if needed */
}
