

.bg-tealgreen {
  background-color: #316E62 !important; /* #13BBA7 Teal Green */
}



.navbar-nav .nav-link {
  color: #FFFFFF !important;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Change active state */
.navbar-nav .nav-link.active {
  font-weight: bold;
}



/* Hover style for main nav links */
.nav-link:hover,
.nav-link:focus {
  color: #FFC523 !important; /* Yellow on hover */
}

