.partner-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url('/images/solar-panles/Solar-Panels-Close-Up-Greyscale.webp');
  background-size: cover;
  padding: 4rem 0;
  color: #fff;
}


.text-success-custom {
  color: #a1d61d; /* hex close to Bootstrap's text-success */
}

.blockquote {
  border-left: 15px solid #198754;
  padding: 1rem;
  margin: 40px 0;
}